@use '../../global.scss' as g;

.main-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
}

.secondary-title {
    color: g.$gray;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.5;
}

@media (max-width: 1024px) {
    .main-title {
        font-size: 1.3rem;
    }

    .secondary-title {
        font-size: 1.3rem;
    }
}