@use '../../global.scss' as g;

.research {
    padding: 9.3rem 0;
}

.research-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.research-text {
    max-width: 30.2rem;
}

.research-title {
    color: g.$accent-color;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;

    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 1.875rem;
        height: 0.07rem;
        background-color: g.$accent-color;
        top: 0.7rem;
        right: 22rem;
    }
}

@media (max-width: 1024px) {
    .research-text {
        max-width: 28rem;
    }

    .research-title {
        font-size: 0.85rem;

        &::after {
            top: 0.55rem;
            right: 21rem; 
        }
    }
}

@media (max-width: 768px) {
    .research-content {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: center;
    }

    .research-title {
        &::after {
            width: 0;
            height: 0;
        }
    }
}

@media (max-width: 425px) {
    .research-text {
        max-width: 21rem;
    }
}