@use '../../global.scss' as g;
@use '../Button/Button.scss' as b;

@mixin flex-center($direction: row, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

.header {
    background: url('../../assets/images/header-img.png');
    background-size: cover;
    background-position: center center;
    padding-bottom: 7.5rem;
    position: relative;

    @media (max-width: 1024px) {
        padding-bottom: 6.5rem;
    }

    @media (max-width: 768px) {
        padding-bottom: 5.5rem;
    }
}

.logo {
    @media (max-width: 1024px) {
        transform: scale(0.9);
    }

    @media (max-width: 768px) {
        margin-top: 1.2rem;
        transform: scale(0.7);
    }
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    position: relative;

    @media (max-width: 768px) {

        &.open {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 1;
            background: g.$white;

        .header-button {
            text-align: left;
            width: 100%;
        }

        .logo, .dot {
            display: none;
        }

        .navbar-content, 
        .nav-left  {
            display: flex;
            flex-direction: column;
            gap: 2.2rem;
            color: g.$black;
            width: 100%;
        }

        .navbar-content {
            position: fixed;
            top: 0px;
            z-index: 1;
        }

        .nav-item {
            font-size: 2rem;
            font-weight: 800;
            width: 100%;
            text-align: left;
        }
        }
    }
}

.navbar-content {
    @include flex-center(row, 2.5rem);
    align-items: center;
    padding: 1.25rem 0 1.25rem 1.25rem;

    color: g.$white;

    @media (max-width: 1024px) {
        @include flex-center(row, 2rem); 
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 1.6rem;
    right: 0.5rem;
    z-index: 1;
    
    @media (max-width: 768px) {
        @include flex-center(column, 0.33rem);
    }

    .line {
        width: 25px;
        height: 3px;
        background-color: g.$white;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &.open {
        top: 1.6rem;
        right: 1rem;

        .line:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
            background-color: g.$black;
        }
    
        .line:nth-child(2) {
            opacity: 0;
        }
    
        .line:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
            background-color: g.$black;
        }
    }
}

.nav-left {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    @media (max-width: 1024px) {
        gap: 2.5rem;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.nav-item {
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.71;

    &:hover {
        color: g.$accent-color;
    }
}

.dot {
    width: 4px;
    height: 4px;
    background: g.$white;
}

.header-content {
    margin-top: 11.2vh;
    text-align: center;
    color: g.$white;
}

.header-title {
    margin-bottom: 2.2rem;
    font-size: 4.44rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1px;

    @media (max-width: 1024px) {

        font-size: 4rem; 
        margin-top: 1vh;
        margin-bottom: 2vh;
    }

    @media (max-width: 768px) {

        font-size: 3rem; 
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

.header-description {
    font-family: g.$secondary-font;
    font-size: 0.81rem;
    font-weight: 700;
    line-height: 1.85;
    margin-bottom: 3.75rem;

    @media (max-width: 1024px) {

        font-size: 0.72rem; 
        margin-top: 1vh;
        margin-bottom: 2vh;
    }

    @media (max-width: 768px) {

        font-size: 0.66rem; 
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}