@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Libre+Franklin:wght@100..900&display=swap');

$black: #000;
$gray: #999;
$white: #fff;
$copyrights-color: #666;
$footer-color: #0A0E1A;
$border-color: #E6E6E6;
$accent-color: #5AB963;

$main-font: "Libre Franklin", serif;
$secondary-font: "IBM Plex Mono", serif;

body {
    font-family: $main-font;
    color: $black;
    font-size: 1rem;
    user-select: none;
}

.container {
    max-width: 73rem;
    margin: 0 auto;
    padding: 0 1rem;

    @media (max-width: 1024px) {
            max-width: 80rem;
    }

    @media (max-width: 768px) {
        max-width: 90rem;
        padding: 0 0.5rem;
    }
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}